<h3>Welcome to Chatbot</h3>

<h4></h4>
<p></p>

<body>

  Type here : <input type="text" name="message" id='message' value=""><br><br>
    <input type="submit" value="Submit" id="submit">


<h5>Click the "Submit" button to send data".</h5>

</body>

<style>
    h4 {
        background-color: lightblue;
    }
    p {
        background-color: darkseagreen;
    }
</style>











